<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Giỏ hàng</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                        </tr>
                        </thead>
                        <tbody id="table_cart_content">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Tổng tiền thanh toán</h5>
                    <ul class="summary-table">
                        <li><span>Giá:</span> <span id="price_total">0</span></li>
                        <li><span>Vận chuyển:</span> <span>Miễn phí</span></li>
                        <li><span>Tổng:</span> <span id="total_price">0</span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <a href="/shop/thanh-toan" class="btn amado-btn w-100">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/cart_view.js"></script>