
<div class="row justify-content-center mt-5 mb-5 ml-5" style="width: 70%">
    <hr>
    <div class="col-md-5 justify-content-center card bg-light" style="height: fit-content">
        <div class="clearfix">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Bảo mật</h2>
                        <p>Xác nhận Email</p>
                        <div class="panel-body">
                            <form class="form" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <p>Khách hàng vui lòng xác nhận lại Email: <a href="https://mail.google.com" style="color: #1727ff;">{{user.email}}</a> để kích hoạt tài khoản.</p>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
