<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/1.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>1.800.000 VNĐ</p>
                    <h4>Ghế</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/2.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>180.000</p>
                    <h4>Chậu cây</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/3.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>1.800.000</p>
                    <h4>Ghế hiện đại</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/4.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>1.800.000</p>
                    <h4>Tủ</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/5.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>180.000</p>
                    <h4>Chậu cây</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/6.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>3.200.000</p>
                    <h4>Bàn nhỏ</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/7.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>3.180.000</p>
                    <h4>Ghế kim loại</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/8.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>3.180.000</p>
                    <h4>Ghế</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="/san-pham">
                <img src="img/bg-img/9.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>380.000</p>
                    <h4>Vật trang trí</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Product Catagories Area End -->