<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Catagory -->
        {{#products}}
            <div class="single-products-catagory clearfix">
                <a href="/shop/product?id={{ID}}">
                    <img src="{{PHOTO_LINK}}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>{{PRICE}} VNĐ</p>
                        <h4>{{NAME}}</h4>
                    </div>
                </a>
            </div>
        {{/products}}
    </div>
</div>
<!-- Product Catagories Area End -->