<link rel="stylesheet" href="css/style.css">
<div class="row justify-content-center mt-5 mb-5 ml-5" style="width: 70%">
    <div class="card bg-light" style="height: fit-content">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Tạo tài khoản</h4>
            <p>
                <a href="/auth/facebook"  class="btn btn-block btn-facebook"> <span class="fa fa-facebook"></span>   Đăng nhập bằng facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">HOẶC</span>
            </p>
            <form action="/dang-ky" method="post">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="name" class="form-control" placeholder="Họ tên" type="text" required="required">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Email" type="email"  required="required">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select class="custom-select" style="max-width: 120px">
                        <option selected="">+84</option>
                    </select>
                    <input name="phone" class="form-control" placeholder="Số điện toại" type="text"  required="required">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="username" class="form-control" placeholder="Tài khoản" type="text" required="required">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" name="password" id="password" placeholder="Mật khẩu" type="password"
                           required="required" pattern=".{6,}">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" id="confirm_password" name="confirm_password" placeholder="Nhập lại mật khẩu" type="password" required="required">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Tạo tài khoản </button>
                </div> <!-- form-group// -->
                <p class="text-center">Đã có tài khoản? <a href="/login">Đăng nhập</a> </p>
            </form>
        </article>
    </div>
</div>